tactical-nexus-solver/target/
tactical-nexus-solver/.mvn

tactical-nexus-data-preparation/target/
tactical-nexus-data-preparation/.mvn/

tactical-nexus-levels/**/*.png
tactical-nexus-levels/backups


### IntelliJ IDEA ###
**/.idea/*
**/*.iml

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store